doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        
        title Youtube-alone
    body 
        header DREAM BOYS TV

        if errorMessage 
            span #{errorMessage}
        nav 
            ul
                li 
                    a(href=`/search`) SEARCH
                li 
                    a(href=`/`) HOME
                if loggedIn 
                    li
                        a(href=`/users/my-profile`) #{loggedInUser.username}의 Profile 
                    li 
                        a(href=`/logout`) LOG OUT
                    li 
                        a(href=`/users/edit-profile`) EDIT-Profile
                    li 
                        a(href=`/videos/upload`) Upload Video
                    
                else
                    li
                        a(href=`/join`) JOIN 
                    li 
                        a(href=`/login`) LOG IN 
            

        block title






        include includes/footer