extends base

block title
    h1 EDIT #{loggedInUser.username}의 PROFILE

    form(method="POST") 
        input(name="username",type="text", placeholder="USER NAME", value=loggedInUser.username, required)
        input(name="email", type="email", placeholder="E-MAIL" value=loggedInUser.email required)        
        input(type="submit", value="Edit", )
        span
            a(href="edit-profile/change-password") &rarr; Change Password
        

