extends base

block title


    form(method="POST") 
        input(name="oldPassword", type="password", placeholder="PASSWORD", required, min=6)
        input(name="password", type="password", placeholder="NEW PASSWORD", required, min=6)
        input(name="password2", type="password2", placeholder="NEW PASSWORD CONFIRM", required, min=6)
        input(type="submit", value="Change Password")

        
