extends base

block title 
    

    form(method="POST") 
        input(name="id",type="text", placeholder="ID")
        input(name="password",type="password",placeholder="PASSWORD")
        input(type="submit", value="Log In")

        div.social-login
            button
                a(href="/users/github/start").fab.fa-github
            button
                a(href="/users/github/start").fab.fa-google
            button
                a(href="/users/github/start").fab.fa-apple
        
        button.join__btn
            a(href="/join") &rarr; Still Don't Have an Account?