extends base
include mixins/video

block title 
    div.profile__info
        img.profile__img(src="/" + user.avatarUrl)
        span #{user.username}

    div.profile__video Uploaded Videos

    div.video-grid
        each video in videos 
                +video(video)
