extends base
include mixins/video

block title 
    
        form.search__form(method="GET")
            input(type="text", placeholder="Video title or ...", required, minlength=2, name="keyword")
            button Search

    
        each video in videos 
            +video(video)

        else 
            span Nothing Found