extends base
include mixins/video

block title 
    
        form(method="GET")
            input(type="text", placeholder="Search Video!", required, minlength=2, name="keyword")
            button Search!

    
        each video in videos 
            +video(video)

        else 
            span Nothing Found